.app {
    background: rgb(78, 77, 77);
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: "cabecalho" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    padding: 0 2rem;
    background: rgb(214, 212, 212);
}
 
.conteudo {
    grid-area: conteudo;
}

.rodape {
    grid-area: rodape;
}
/*Menu*/
.menu__Link{
    color: #000000;
    padding: 1rem 2rem;
}

.menu__Link:hover{
    font-size: 1.2rem;
    font-weight: bold;    
}
/*Rodape*/
footer{
    text-align: center;
    background:rgb(78, 77, 77);
    padding-bottom: 50px;
}
.logoRodape{
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.logoRodape:hover{
    margin-bottom: 10px;
    transition: .5s;
    transform: rotate(360deg);
}
p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
/*Destaques*/
.caixa{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.destaques{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33% ;
    background: linear-gradient(rgb(214, 212, 212),rgb(184, 182, 182));
    height: calc(120vh - 50px);
    padding: 1rem 2rem;
}
.destaques__Principal{
    background: url("../Imagens/fortnite.jpg") center / cover no-repeat;
    grid-column:1 / 4;
    grid-row: 1 / 3;
}
.destaques__Principal:hover{
    opacity: 70%;
    transition: 0.5s;
    transform: scale(1.005);

}
.destaques__Titulo{
    background: rgba(0, 0, 0, .5);
    color: #fdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;
}
.destaques__Secundarios:nth-child(2){
    background  : url("../Imagens/pubg.jpg") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}
.destaques__Secundarios:nth-child(3){
    background  : url("../Imagens/slack.png") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}
.destaques__Secundarios:nth-child(4){
    background  : url("../Imagens/whatsapp.png") center / cover no-repeat;
    grid-column: 4 / 4;
    grid-row: 3 / 3;
}
.destaques__Secundarios:nth-child(5){
    background  : url("../Imagens/cs-go.jpg") center / cover no-repeat;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}
.destaques__Secundarios:hover{
    opacity: 70%;
    transition: 0.5s;
    transform: scale(1.02);
}

/* Destaques Categoria*/

.destaques__Categorias{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.destaques__Categorias___Lista{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.destaques__Categorias___Item{
    align-items: center;
    background-color: #fdfdfd;
    border-left: 5px solid transparent;
    color: #333333;
    display: flex;
    padding: 1rem;
    width: 50%;
}
.destaques__Categorias___Link:hover{
    font-weight: bold;
    transition: 0.5s;
}

.destaques__Categorias___Link{
    color: inherit;
}
/*Populares*/
.populares {
    padding: 3rem 2rem;
    background: linear-gradient(rgb(184, 182, 182),rgb(78, 77, 77));
}
.populares__Conteudo{
    display: flex;
    flex-wrap: wrap;
    grid-area: cardConteudo;
    padding: 1rem 0;
}
.populares__Card{
    background: #fdfdfd;
    display: grid;
    grid-template-areas: "cardImagem" "cardCorpo";
    grid-template-columns: 100%;   
    grid-template-rows: 170px auto;
    margin-right: 1rem;
    width: calc(20% - 1rem);
}
.populares__Card___Imagem{
    grid-area: cardImagem;
    height: 100%;
    width: 100%;
}
.populares__Card:hover{
    opacity: 70%;
    transition: 0.5s;
    transform: scale(1.02);
    box-shadow:  10px 10px 30px black;
    
}
.populares__Card___Corpo{
    display: grid;
    grid-area: cardCorpo;
    grid-row-gap: .5rem;
    grid-template-areas: "cardCabecalho" "carCconteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}
.populares__Card___Titulo{
    font-size: 1.5rem;
    color: #333333;
}
.populares__Card___Data{
    font-size: .9rem;
    color: #808080;
}
.populares__Card___Descricao{
    color: #333333;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
}

.populares__Cabecalho{
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
}

.populares__Botao{
    background: transparent;
    border: none;
    color:#333333;
}
/*Responsivo*/

@media screen and (min-width: 0) {
    .destaques__Principal, .destaques__Categorias{
        grid-column: 1 / 5;
    }
    .destaques__Secundarios:nth-child(2){
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__Secundarios:nth-child(3){
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__Secundarios:nth-child(4){
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .destaques__Secundarios:nth-child(5){
        display: none;
        grid-column: none;
        grid-row: none;
    }
    .populares__Conteudo{
        flex-direction: column;
    }
    .populares__Card{
        grid-template-rows: 150px auto;
        width: 100%;
        margin-bottom: 3rem;
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (min-width: 760px) {
    .destaques__Principal{
        grid-column: 1 / 4;
    }
    .destaques__Secundarios:nth-child(2){
        display: flex;
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }
    .destaques__Secundarios:nth-child(3){
        display: flex;
        grid-column: 4 / 4;
        grid-row: 2 / 2;
    }
    .destaques__Secundarios:nth-child(4){
        display: flex;
        grid-column: 4 / 4;
        grid-row: 3 / 3;
    }
    .destaques__Secundarios:nth-child(5){
        display: flex;
        grid-column: 3 / 3;
        grid-row: 3 / 3;
    }
    .destaques__Categorias{
        grid-column: 1 / 3;
    }
    .populares__Conteudo{
        flex-direction: row;
    }
    .populares__Card{
        grid-template-rows: 170px auto;
        width: 100%;
        margin-right: 1rem;
        width: calc(50% - 1rem);
    }

}

@media screen and (min-width: 992px) {
    .populares__Card{
        width: 100%;
        width: calc(33.33% - 1rem);
    }
}

@media screen and (min-width: 1200px) {
    .populares__Card{
        margin-bottom: 0%;
        width: calc(20% - 1rem);
    }
}